// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;