.row {
  max-width: $grid-width;
  margin: 0 auto;
  // margin-bottom: $gutter-horizontal;

  &:not(:last-child) {
    margin-bottom: $gutter-horizontal;

    @include respond(tab-port) { 
      margin-bottom: $gutter-horizontal-small;
    }
  }


  @include respond(tab-port) { 
    max-width: 50rem;
  }

  @include clearfix;

  /* select with attribute selector
   it will select all of the elements in which the class attribute starts with ^ = "col-" */
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-vertical;

      @include respond(tab-port) { 
        margin-right: 0;
        margin-bottom: $gutter-horizontal-small;
      }
    }

    @include respond(tab-port) { 
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-vertical}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-vertical}) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-vertical}) / 3) + #{$gutter-vertical});
  }
  
  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-vertical}) / 4);
  }
  
  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-vertical}) / 4) + #{$gutter-vertical});
  }
  
  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * #{$gutter-vertical}) / 4) + 2 * #{$gutter-vertical});
  }

}
