.story { 
  width: 75%; 
  // to center a block element - div, inside a block element -div we can use margin: 0 auto; 
  margin: 0 auto; 
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem; 
  padding-left: 9rem; 

  &__shape { 
    float: left;
    shape-outside: circle(50% at 50% 50%); 
    clip-path: circle(50% at 50% 50%); 
    transform: translateX(-3rem);
    width: 15rem; 
    height: 15rem; 
    background-color: palegoldenrod;
  }

  &__img { 
    height: 100%;
  }
}